@import "tailwindcss";

@theme {
  --color-light-text: #E4E6EA;
  --color-orange-color: #FCB045;
  --color-red-color: #FD1D1D;
  --color-blue-color: #4077F3;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}
.line{
  @apply h-[1px] w-5 bg-gradient-to-r from-orange-color via-[24%] to-red-color mt-3
}